body {
  background-color: rgb(104, 165, 245);
  color: white;
  text-align: center;
}

table {
  margin: auto;
  border: 1px solid black;
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
}
td {
  background-color: rgb(207, 137, 137);
  box-shadow: 0px 0px 2px rgb(196, 197, 182);
  border-radius: 10%;
}

td:hover {
  background-color: rgb(131, 75, 75);
  box-shadow: 0px 0px 2px rgb(196, 197, 182);
  border-radius: 10%;
}
.cell {
  color: rgb(0, 0, 0);
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 1.5em;
}
.hint-hover.cell:hover {
  border: 2px solid black;
}
.board-container {
  margin-top: 60px;
  width: 100%;
}
.current-mood {
  border: none;
  background: none;
  font-size: 48px;
}
h1 {
  font-family: 'Dancing Script', cursive;
  color: rgb(123, 194, 42);
  text-shadow: 0px 0px 10px rgb(8, 8, 6);
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}
.fas.fa-minus-circle {
  color: red;
}
.lives-amount {
  margin: 10px auto;
  padding: 5px;
  font-size: 60px;
  color: red;
}

.hint-amount {
  margin: 0;
  font-size: 100px;
  color: rgb(255, 208, 0);
}
.fas.fa-heart {
  padding: 5px;
  text-shadow: 2px 3px 10px rgb(37, 11, 5);
}

.far.fa-lightbulb {
  padding: 5px;
  text-shadow: 2px 3px 10px rgb(37, 11, 5);
}

button {
  border: none;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 19px;
  margin: 10px;
  width: 200px;
  height: 75px;
  border-radius: 12%;
}
.level4 {
  box-shadow: 5px 5px 5px rgb(44, 44, 43);
  background-color: rgb(90, 243, 85);
}
.level4:hover {
  background-color: rgb(64, 143, 61);
}

.level8 {
  box-shadow: 5px 5px 5px rgb(44, 44, 43);

  background-color: rgb(207, 230, 80);
}
.level8:hover {
  background-color: rgb(127, 141, 47);
}
.level12 {
  box-shadow: 5px 5px 5px rgb(44, 44, 43);
  background-color: rgb(255, 0, 0);
}
.level12:hover {
  background-color: rgb(139, 37, 37);
}
.clicked {
  background-color: rgb(107, 98, 98);
  box-shadow: 0px 0px 2px rgb(44, 44, 43);
  border-radius: 20%;
}
.hint {
  border: none;
  font-weight: 700;
  width: 125px;
  height: 50px;
}
.hint:hover {
  background-color: rgb(187, 179, 179);
}
.fas.fa-lightbulb {
  text-shadow: 0px 0px 2px rgb(44, 44, 43);
}
.time-container {
  margin: auto;
  width: 30%;
  height: 80px;
  background-color: rgb(145, 231, 145);
  border-radius: 12px;
  flex-direction: column;

  box-shadow: 2px 2px 2px rgb(44, 44, 43);
}
th {
  font-family: 'Dancing Script', cursive;
  color: rgb(0, 0, 0);
  border-radius: 12px;
}
.level4-score {
  padding: 10px;
  background-color: rgb(90, 243, 85);
}
.level8-score {
  padding: 10px;
  background-color: rgb(207, 230, 80);
}
.level12-score {
  padding: 10px;
  background-color: rgb(255, 0, 0);
}
.scores-container {
  margin-top: 10px;
  border: none;
  width: 70%;
  height: 125px;
}
.time-text {
  text-align: center;
  padding-top: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 94, 0);
}

.time {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.click-safe {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2rem;
}
.safe-click {
  border: none;
  font-weight: 700;
  width: 170px;
  height: 50px;
}

.safe-click:hover {
  background-color: rgb(187, 179, 179);
}

.hint-safe-btns {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  body {
    flex-shrink: 2; 
  }
  .time-container{
    flex-shrink: 2; 
  }
  .cell {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 800px) {
  .time-container{
    align-content: center;
    justify-items: center;
    justify-content: center;
    width:fit-content
  }
  .cell {
    width: 30px;
    height: 30px;
  }
}
